<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Uploading image</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


    <!-- Bootstrap styles -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <!-- Generic page styles -->
    <link rel="stylesheet" href="/css/style.css"/>

</head>
<body>
<div class="container">

    <div class="jumbotron">

        <div class="row">
            <div class="col-md-6 col-md-offset-6 ">
                <span th:text="${userName}"></span>
                <img th:src="${userImage}" alt=""/>
            </div>
        </div>


        <h2>UPLOAD YOUR PHOTO:</h2>

        <form action="#" th:action="@{/upload}" method="post" enctype="multipart/form-data">
            <p>
                <input id="fileupload" name="image" type="file" accept="image/*"/>
            </p>
            <p>
                <label>
                    Name:
                    <input name="title" type="text"/>
                </label>
            </p>


            <p>
                <input type="submit" value="Submit"/>
            </p>

            <!-- The global progress bar -->
            <div id="progress" class="progress">
                <div class="progress-bar progress-bar-success"></div>
            </div>
        </form>

    </div>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="js/main.js"></script>


</body>
</html>